@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --primary-color: #fb8500;
    --secondary-color: #8ecae6;
    --accent1-color: #219ebc;
    --accent2-color: #ffb703;
    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Poppins', sans-serif;
    --nav-background-color: #219ebc;
    --nav-link-color:#fb8500;
    --nav-hover-link-color: #ffb703;
    --nav-hover-background-color: #8ecae6;
} 
body{
    width: 1000px;
}
img{
    max-width: 400px;
}
h1, h2, h3, h4, h5, h6, label{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
a{
    text-decoration: none;
}
footer a{
    text-decoration: none;
}
.hero{
    position: relative;
    display: flex;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero div h1, article{
    position: absolute;
}
.hero article img{
    float: right;
}
header{
    margin: 1rem auto;
    padding: 8px;
    width: 100%;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
    /* border: 1px solid red ; */
    background-color: var(--nav-background-color); 
    color: var(--primary-color);
    font-family: var(--heading-font);
    /* height: 700; */
}

header img{
    order: 0;
    margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;  
}

header nav{
    order: 2;
    display: flex;
	text-align: right;
    justify-content: space-between;
    color: var(--nav-link-color);
}

header nav :hover{
    background-color: var(--nav-hover-background-color);
}

header nav a{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--nav-link-color);
}

header nav a :hover{
    color: var(--nav-hover-link-color);
}

section{
    flex-direction: row;
    text-align: center;
}

li{
    list-style-type: none;
}
section img{
    max-width: 7vw;
    height: auto;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 
figure{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

footer{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: var(--nav-background-color); 
    color: var(--primary-color);
    font-family: var(--heading-font);
    /* height: 700; */
}

footer p{
    grid-column: 4/7; 
    justify-items: center;
}

footer nav{
    grid-column: 7/10;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: var(--nav-link-color);
}

footer nav img{
    grid-column: 1/3;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5%;
    max-width: 25px;
}

iframe{
    border:0;
    margin: 10px;
}

form{
    margin: 10px;
    max-width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    margin: 10px auto;
    padding: 1rem;
    border: 1px solid var(--accent1-color);
    border-radius: 0.5rem;
    background-color: #ebebeb;
}

.input{
    margin: 10px;
    display: grid;
    justify-items: center;

}

.textarea{
    width: 40%;
    margin:10px;
    display: grid;
}

.checkbox{
    height: 18px;
    width: 18px;
}

button{
    height: 38px;
    background-color: var(--nav-background-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

button:hover{
    background-color: var(--nav-hover-background-color);
}

a{
    text-decoration: none;
    color: white;
}

.trips{
    text-align: center;
}

.trips-stories{
    background-color: rgba(0, 0, 0, 0.04);
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 100px 100px; 
    gap: 10px;
    margin: 15px;
    padding-bottom: 10px;
}

.trips-stories table{
    text-align: center;
}

.trips-stories h3{
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}

.trips-stories img{
    grid-column: 1;
    grid-row: 2/ span 2;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    justify-self: center;
}

.trips-stories figcaption{
    grid-column: 2;
    grid-row: 2/ span 2;
    text-align: left;
    padding-right: 75px;
    padding-top: 0.5px;
    font-family: var(--paragraph-font);
}


.call-to-action{
    text-align: center;
}

#call-to-action{
    background-image: url('/wdd130/wwr/images/banner-button-contact-us.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#call-to-action:hover {
    filter: brightness(0.8); /* escurece a imagem em 20% */
}
#call-to-action button{
    width: 30%;
}